  body {
    margin: 20px;
  }

  .status {
    margin-bottom: 10px;
  }

  .game {
    display: flex;
    justify-content: center;
  }

  
  .game-info {
    margin-left: 20px;

    .game-status {
      text-align: center;
      font: bold 20px sans-serif;
    }
  }

  .board-row {
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
  
  .square {
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;

    width: 70px;
    height: 70px;
    line-height: 70px;

    text-align: center;
    font: bold 36px sans-serif;

    &:focus {
      outline: none;
    }
  }

  ol {
    padding-left: 40px;
  }


  